<div class="page-banner", style="background-image: url(<%= asset_path 'ski.jpg' %>), linear-gradient(-225deg, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.1) 40%)">
  <h1>Note ce matériel</h1>
</div>

<h3><%= @material.name %></h3>
<div class="page-container">
  <div class="container">
    <%= simple_form_for [@material, @material_review] do |f| %>
      <%= f.input :rating %>
      <%= f.input :description %>
      <%= f.button :submit, class: "btn-form btn-primary" %>
    <% end %>
  </div>
</div>

