<div class="small-banner", style="background-image: url(<%= asset_path 'yellowsurf.jpg' %>), linear-gradient(-225deg, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.1) 40%)">
  <h1>Noter ce matériel</h1>
</div>


<h3 style="text-align: center"><%= @material.name %></h3>
<div class="page-container" style="margin-bottom: 30px" >
  <div class="container" style="width: 700px">
    <%= simple_form_for [@material, @material_review] do |f| %>
      <%= f.input :rating %>
      <%= f.input :description %>
      <%= f.button :submit, class: "btn-form btn-primary" %>
    <% end %>
  </div>
</div>

