 <div class="mon-materiel">

  <div class="small-banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= cl_image_path('louer-matos_1.jpg') %>);">
    <h1> Mon matériel en location</h1>
  </div>

  <div class="container">
  <div class="cards">
      <% @materials.each do |material| %>
        <div class="card col-xs-3", style="background-image: url('<%= material.photo.present? ? cl_image_path(material.photo) : "" %>')">
          <div class="card-content">
            <h2><%= material.name %></h2>
            <p><%= material.description %></p>
            <p><%= material.price %> €</p>
            <p>
              <%= link_to "", material_path(material), class: "card-link" %>
            </p>
          </div>
        </div>
      <% end %>
  </div>
</div>

 <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> at Le Wagon
  </div>
</div>
</div>
