 <div class="small-banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= cl_image_path('louer-matos_1.jpg') %>);">
   <h1> Mon matériel en location</h1>
</div>

<div class="container">
  <div class="cards">
    <ul>
      <% @materials.each do |material| %>
        <div class="card col-xs-3", style="background-image: url('<%= material.photo.present? ? cl_image_path(material.photo) : "" %>')">
          <div class="container">
            <h2><%= material.name %></h2>
            <p><%= material.description %></p>
            <p>
              <%= link_to "", material_path(material), class: 'card-link' %>
            </p>
          </div>
        </div>
      <% end %>
    </ul>
  </div>
</div>

