<div class="page-banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path @material.photo, height: 300, width: 400, crop: :fill %>')">
  <h1><%= @material.name %></h1>
</div>


<div class="page-container">
  <div class="container">
    <h1> <%= @material.name %></h1>
    <p> <%= @material.category %></p>
    <p> <%= @material.description %></p>

    <% if policy(@material).edit? %>
      <%= link_to "Modifier", edit_material_path(@material), class: "btn btn-success" %>
    <% end %>
    <% if policy(@material).destroy? %>
      <%= link_to "Supprimer", material_path(@material),method: :delete, class: "btn btn-danger" %>
    <% end %>
    <% if policy(@material.locations.new).new? %>
      <btn><%= link_to "Réserver", new_material_location_path(@material) %></btn>
    <% end %>
  </div>
   
  <div id="map" data-markers=<%= @markers.to_json %> data-mapbox-api-key=<%= ENV["MAPBOX_API_KEY"] %> style="width: 50%; height: 400px"></div>
</div>

