
<div class="page-banner", style="background-image: url(<%= cl_image_tag @material.photo, height: 300, width: 400, crop: :fill %>), linear-gradient(-225deg, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.1) 40%)">
  <h1><%= @material.name %></h1>
</div>


<div class="page-container">
  <div class="container">
    <h1> <%= @material.name %></h1>
    <p> <%= @material.category %></p>
    <p> <%= @material.description %></p>

        <% if policy(@material).edit? %>
          <%= link_to "Modifier", edit_material_path(@material), class: "btn btn-success" %>
        <% end %>
        <% if policy(@material).destroy? %>
          <%= link_to "Supprimer", material_path(@material),method: :delete, class: "btn btn-danger" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
