  <div class="small-banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= @material.photo.present? ? cl_image_path(@material.photo) : "" %>')">
    <h1><%= @material.name %></h1>
  </div>

<div class="page-container">
 <div class="profile text-center">
       <div class="main">
          <div class="main-content">
          <img src="http://res.cloudinary.com/dscu7dmwa/image/upload/v1543511001/nm0xvy2qtlmm9bh6lscm.jpg" alt="" width="200" height="150" class="img-rounded">
           <h2> <%= @material.name %></h2>
           <h3><font color="#7dccab"><%= @material.price %> €</font color></h3>
          <p> <%= @material.category %></p>
          <% if policy(@material).edit? %>
      <%= link_to "Modifier", edit_material_path(@material), class: "btn btn-success" %>
          <% end %>
          <% if policy(@material).destroy? %>
      <%= link_to "Supprimer", material_path(@material),method: :delete, class: "btn btn-danger" %>
           <% end %>
        </div>
      </div>
      <div class="description">
      <div class="description-content">
          <h4>Description produit</h4>
          <p> <%= @material.description %></p>
        </div>
      </div>
     <div class="stat">
      <div class="stat-content">
          <h3><font color="#7dccab">6</font color></h3>
          <p>nombre de locations</p>
        </div>
      </div>
       <div class="stat">
        <div class="stat-content">
          <h3><font color="#7dccab">108€</font color></h3>
          <p>revenus perçus</p>
        </div>
      </div>
     <div class="stat">
         <div class="stat-content">
          <h3><font color="#7dccab">85 fois</font color></h3>
          <p>materiel consulté</p>
        </div>
      </div>
    </div>
  </div>


  <div class="container-fluid">
   <div class="card-show col-md-12">
          <h4>Commentaires </h4>
          <br />
           <% @reviews.each do |review|%>
      Note: <%= review.rating.times do %>
        <span class="fa fa-star checked"></span>
      <% end %>
          <br />
      Commentaire: <%= review.description %>
          <br />
          <br />
      <% end %>
        </div>
      </div>
      </div>


<!--       <% @reviews.each do |review|%>
      Note: <%= review.rating.times do %>
        <span class="fa fa-star checked"></span>
      <% end %>
          <br />
      Commentaire: <%= review.description %>
          <br />
          <br />
      <% end %>
    <br /> -->

   <!--  <% if policy(@material).edit? %>
      <%= link_to "Modifier", edit_material_path(@material), class: "btn btn-success" %>
    <% end %>
    <% if policy(@material).destroy? %>
      <%= link_to "Supprimer", material_path(@material),method: :delete, class: "btn btn-danger" %>
    <% end %> -->
    <% if policy(@material.locations.new).new? %>
      <%= link_to "Réserver", new_material_location_path(@material), class: "btn btn-success"  %>
    <% end %>
    <% if policy(@material.locations.new).new? %>
      <%= link_to "Noter ce matériel", new_material_material_review_path(@material), class: "btn btn-primary"  %>
    <% end %>
  </div>

  <div id="map" data-markers=<%= @markers.to_json %> data-mapbox-api-key=<%= ENV["MAPBOX_API_KEY"] %> style="width: 50%; height: 400px">
  </div>
</div>


<!-- <div class="page-container">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8">
         <h1> <%= @material.name %></h1>
        <div class="card-show text-align-center">
            <p> <%= @material.description %></p>
            <p> <%= @material.price %> €</p>
        </div>
      </div>
    </div>
   </div>
</div>
    <p> <%= @material.category %></p> -->


<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    Sport BnB made this footer with <i class="fas fa-heart"></i> at Le Wagon
  </div>
</div>
