<div class="page-banner", style="background-image: url(<%= asset_path 'ski.jpg' %>), linear-gradient(-225deg, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.1) 40%)">
  <h1>Réserve ce matériel</h1>
</div>



<div class="page-container">
  <div class="container" style="width: 700px; margin: 0 auto;">
    <h3> <%=  @material.name %></h3>
    <p> <%=  @material.description %></p>

    <%= simple_form_for [@material, @location] do |f| %>
      <%= f.input :start_date, as: :string, required: false, input_html: {class: "datepicker"} %>
      <%= f.input :end_date, as: :string, required: false, input_html: {class: "datepicker"} %>
      <%= f.button :submit, "Create location", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
