<h1>Book your material</h1>
<%= simple_form_for [@material, @location] do |f| %>
  <%= f.input :start_date %>
  <%= f.input :end_date %>
  <%= f.button :submit, class: "btn btn-primary"%>
<% end %>

<p><%= link_to "Back to materials", material_path %></p>

